.navba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 17px;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding: 15px;
  font-size: 30px;
  border-right: 3px solid black;
}

a {
  text-decoration: underline;
}
